@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F1E9D2;
  --foreground: #171717;
  --card-bg: #FFF5E1;
  --hover-shadow: #D2B48C;
  --button-bg: #D2B48C; 
  --button-text: #171717;
  --button-hover-bg: #D2B48C;
  --button-hover-text: #171717;
  --button-active-bg: #ffdab9;
  --button-active-text: #171717;
  --header-bg: #A67B5B;
  --filter-bg: #ffffff;
  --filter-border: #000000;
  --filter-text: #171717;
  --filter-header-bg: #ffdab9;
  --filter-header-text: #171717;
  --tag-bg: #D2B48C;
  --tag-text: #171717;
  --tag-hover-bg: #d1d5db;
  --tag-hover-text: #171717;
  --icon-color: #333333;
  --primary: #F4A261; /* Text color for light theme */
  --secondary: #2A9D8F; /* Subtle text color for light theme */
  --highlight: #D2B48C; /* Accent color for light theme */
  --button: #D2B48C; /* Button background for light theme */
  --filter-label: #333; /* dark text for light theme */
  --filter-placeholder: #999; /* gray placeholder text */
  --button-hover: #E9C89B; /* Peach hover background */
  --svg-fill-light: #000; /* Black for light theme */
  --button-text-color: Black; /* White text for light mode */
  --button-bg-color: #D2B48C; /* Brown background for light mode */
  --button-hover-bg-color: #F1E9D2; /* Darker brown for hover effect */
  --error-text: #E76F51;
  --success-text: #49a976;
  --home-text: #ffffff;
  --recipe-bg:#FFF8E7;
  --recipe-title-text: #000000;
  --button-hover: #d2af93;
   /* Home style  */
   --button1-bg: #2d2d2d;
   --recipe-bg: #F1E9D2;
   --rating-bg: #000000; /* Home button and rating color  */
   --viewRecipe-bg: #A67B5B;
   --recipe-title-text: #000000;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  --button-bg: #333333;
  --button-text: #ffffff;
  --button-hover-bg: #444444;
  --button-hover-text: #ffffff;
  --button-active-bg: #555555;
  --button-active-text: #ffffff;
  --input-text: #ffffff ;
  --input-bg: #666;
  --header-bg: #444444;
  --filter-bg: #2d2d2d;
  --filter-border: #444444;
  --filter-text: #ffffff;
  --filter1-text: #2d2d2d;
  --filter-header-bg: #333333;
  --filter-header-text: #ffffff;
  --tag-bg: #444444;
  --tag-text: #ffffff;
  --tag-hover-bg: #555555;
  --tag-hover-text: #ffffff;
  --icon-color: #ffffff;
  --primary: #e5e7eb; /* Text color for dark theme */
  --secondary: #9ca3af; /* Subtle text color for dark theme */
  --highlight: #2dd4bf; /* Accent color for dark theme */
  --button: #2dd4bf; /* Button back--filter-label: #ddd; /* light text for dark theme */
  --filter-placeholder: #666; /* darker placeholder text /*ground for dark theme */
  --button-hover: #d8a48f; /* Soft peach for dark hover */
  --svg-fill-dark: #fff; /* White for dark theme */
  --button-text-color: White; /* Black text for dark mode */
  --button-bg-color: #666; /* Darker brown background for dark mode */
  --button-hover-bg-color: #8d8989; /* Even darker brown for hover effect */
  --card-bg: #343a40;
  --hover-shadow: #D2B48C ;
  --success-text: #48bb78;
  --error-text: #f56565; /* Lighter red color for error in dark mode */
   /* Home style  */
  --button1-bg: #2d2d2d;
  --recipe-bg: #343a40;
  --rating-bg: #; /* Home button and rating color  */
  --viewRecipe-bg: #9ca3af;
  --recipe-title-text: #ffffff;
  /* Sign up   */
  --password-text: #ffffff;

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Josefin Slab', Helvetica, sans-serif, Arial;

}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: 1px solid var(--filter-border);
}

button:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-text);
}

button:active {
  background-color: var(--button-active-bg);
  color: var(--button-active-text);
}

.filter-panel {
  background-color: var(--filter-bg);
  border-color: var(--filter-border);
  color: var(--filter-text);
}

.filter-header {
  background-color: var(--filter-header-bg);
  color: var(--filter-header-text);
}

.tag {
  background-color: var(--tag-bg);
  color: var(--tag-text);
}

.tag:hover {
  background-color: var(--tag-hover-bg);
  color: var(--tag-hover-text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .pulse {
    @apply animate-pulse;
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
  }

  .animate-pulse {
    animation: pulse 1.5s infinite;
  }
}
